<!doctype html>
<html>
  <head>
    <title>Edit Student</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Edit Student</h1>

    <div class="container">
      <form action="/update/{{ student[0] }}" method="POST">
        <input type="text" name="name" value="{{ student[1] }}" required />
        <input type="number" name="age" value="{{ student[2] }}" required />
        <input type="text" name="course" value="{{ student[3] }}" required />
        <button type="submit">Update Student</button>
      </form>

      <br />
      <a href="/">⬅ Back</a>
    </div>
  </body>
</html>
